body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    transition: background-color 0.3s ease;
}

body #count-down {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    font-family: sans-serif;
}

body img {
    height: 300px;
}
